[Unit]
Description=Battery Monitor Check
After=graphical-session.target

[Service]
Type=oneshot
ExecStart=%h/.config/coffee/bin/battery-monitor
Environment=DISPLAY=:0