@define-color foreground #f6dcac;
@define-color background #05182e;
@define-color hover    #faa968;

/* State colors */

@define-color warning yellow;
@define-color critical red;
@define-color calm green;


* {
  background-color: @background;
  color: @foreground;

  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: 'JetBrainsMono Nerd Font';
  font-size: 12px;
}

.modules-left {
  margin-left: 8px;
}

.modules-right {
  margin-right: 8px;
}

button {
  border-radius: 16px;
  min-width: 16px;
  padding: 0 10px;
}


tooltip {
  border: 1px solid @foreground;
}

tooltip>box {
  padding: 0 1px;
}

#workspaces button {
  all: initial;
  padding: 0 6px;
  margin: 0 1.5px;
  min-width: 9px;
}

#workspaces button.empty {
  opacity: 0.5;
}

#cpu,
#battery,
#network,
#pulseaudio,
#bluetooth,
#custom-distro,
#custom-update,
#custom-power {
  min-width: 12px;
  margin: 0 7.5px;
}


#tray {
  margin-right: 16px;
}

#clock {
  margin-left: 8px;
  margin-right: 8px;
}




#idle_inhibitor:hover,
#custom-distro:hover,
#clock.date:hover,
#network:hover,
#bluetooth:hover,
#custom-update:hover,
#battery:hover,
#custom-power:hover,
#pulseaudio:hover,
#hyprland-workspaces:hover {
  color: @hover;
}


#pulseaudio.output.muted,
#pulseaudio.input.source-muted,
#network.disabled,
#bluetooth.disabled {
  color: @critical;
}

#memory.warning,
#cpu.warning,
#battery.warning,
#network.disconnected{
  color: @warning;
}

#temperature.critical,
#memory.critical,
#cpu.critical,
#battery.critical {
  color: @critical;
}

#battery.charging {
  color: @calm;
}
