@import "../themes/current/next-theme/waybar.css";

@define-color hover    #faa968;

/* State colors */

@define-color warning yellow;
@define-color critical red;
@define-color calm green;


* {
  background-color: @background;
  color: @foreground;

  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: 'JetBrainsMono Nerd Font';
  font-size: 12px;
}

.modules-left {
  margin-left: 8px;
}

.modules-right {
  margin-right: 8px;
}

button {
  border-radius: 16px;
  min-width: 16px;
  padding: 0 10px;
}


tooltip {
  border: 1px solid @foreground;
}

tooltip>box {
  padding: 0 1px;
}

#workspaces button {
  all: initial;
  padding: 0 6px;
  margin: 0 1.5px;
  min-width: 9px;
}

#workspaces button.empty {
  opacity: 0.5;
}

#cpu,
#battery,
#network,
#pulseaudio,
#bluetooth,
#custom-distro,
#custom-update,
#custom-power,
#custom-airplane,
#custom-expand-icon {
  min-width: 12px;
  margin: 0 7.5px;
}


#tray {
  margin-right: 16px;
}

#clock {
  margin-left: 8px;
  margin-right: 8px;
}


#idle_inhibitor:hover,
#custom-distro:hover,
#clock.date:hover,
#network:hover,
#bluetooth:hover,
#custom-update:hover,
#battery:hover,
#custom-power:hover,
#pulseaudio:hover,
#hyprland-workspaces:hover {
  color: @hover;
}


#pulseaudio.output.muted,
#pulseaudio.input.source-muted,
#network.disabled,
#bluetooth.disabled,
#idle_inhibitor.activated,
#custom-screenrecording-indicator.active,
#temperature.critical,
#memory.critical,
#cpu.critical,
#battery.critical {
  color: @critical;
}

#memory.warning,
#cpu.warning,
#battery.warning,
#network.disconnected{
  color: @warning;
}


#battery.charging {
  color: @calm;
}


.hidden {
  opacity: 0;
}


#custom-screenrecording-indicator{
  min-width: 12px;
  margin-left: 5px;
  margin-right: 0;
  font-size: 10px;
  padding-bottom: 1px;
}



.left .modules-left,
.right .modules-left {
  margin: 8px 0 0 0;
}

.left .modules-right,
.right .modules-right {
  margin: 0 0 8px 0;
}

.left #workspaces button,
.right #workspaces button {
  padding: 6px 0;
  margin: 1.5px 0;
}

.left #cpu,
.right #cpu,
.left #battery,
.right #battery,
.left #pulseaudio,
.right #pulseaudio,
.left #idle_inhibitor,
.right #idle_inhibitor,
.left #custom-update,
.right #custom-update,
.left #custom-airplane,
.right #custom-airplane {
  margin: 1.5px 0;
  padding: 6px 0;
  min-width: 0;
  min-height: 12px;
}

.left #tray,
.right #tray,
.left #custom-expand-icon,
.right #custom-expand-icon {
  margin: 0 0 16px 0;
}

.left #bluetooth,
.right #bluetooth {
  margin: 1.5px 0;
  padding: 6px 0;
  min-height: 12px;
}

.left #network,
.right #network {
  margin: 1.5px 0;
  padding: 6px 0;
  min-height: 12px;
}

.left #custom-expand-icon,
.right #custom-expand-icon {
  margin: 1.5px 0;
  padding: 6px 0;
  min-height: 12px;
}

.left #clock,
.right #clock {
  margin: 8.75px 0 0 0;
}

.left #custom-screenrecording-indicator,
.right #custom-screenrecording-indicator {
  margin: 5px 0 0 0;
  min-width: 0;
  min-height: 12px;
}

.left #custom-idle_inhibitor,
.right #custom-idle_inhibitor {
  margin: 7.5px 0 0 0;
  min-width: 0;
  min-height: 12px;
}